*,
*::before, 
* ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: beige;
    
}

body{
    background-color: beige;
}
nav{
    font-size: 10px;
    background-color: darksalmon;
    text-decoration: none;
    color: black;
    height: 30px;
    flex-flow: row;
    justify-content: right;
    align-items: center;
    display: flex;
    gap: 10px;
}
#imgl{
width: 25px;
height: 25px;
}
a{
    color: black;
    text-decoration: none;
    background-color:darksalmon;
}
a:hover{
    scale: 1.1;
    transition: all 500ms;
}
#divina{
    display: block;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    background-image: url(https://pymstatic.com/98747/conversions/cuanto-cobra-psicologo-online-social.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;

}
#img{
    background-color: transparent;
    text-align: center;
    width: 90%;

    font-size: 2.5rem;
    color: rgb(255, 255, 255);
}
div{
    text-align: center;
    font-size: 10px;
    margin: 30px;
}
img{
    width: 400px;
    height: 430px;
}
#div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    background-color:beige;
    /* width: fit-content; */
    border-radius: 2px;
}
h2{
    background-color:beige;
    width: fit-content;
    border-radius: 2px;
}
#ic{
    width: 20px;
    height: 20px;
    background-color: beige;
    border-radius: 2px;
}
#div2{
    display: flex;
    gap: 10px;
    background-color: darksalmon;
}
article{
    background-color: darksalmon;
}
p{
    background-color: darksalmon;
}
#img1{
    width: 300px;
    height: 300px;
}
article{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: large;
}

#divi{
    display: flex;
    gap: 10px;
    background-color: darksalmon;
}
#img2{
    width:250px;
    height:250px;
}
#h11{
    background-color: darksalmon;
}

#servicios{
    margin: 3px;
    text-align: center;
}
main .card-img-top {
    min-width: 100%;
    max-height: 150px;
}

main section {
    display: flex;
    flex-flow: row wrap;
    margin: 0px;
}
#a{
    background-color: darksalmon;
    border-color: darksalmon;
}

h5{
    font-size: small;
}

#divis{
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
}

#nombres{
    flex-flow: row wrap;
    text-align: left;
    align-items: center;
    justify-content: left;
    background-color: beige;
}

#nombre{
    width: min-content;
}

#email{
    flex-flow: row wrap;
    text-align: left;
    align-items: center;
    justify-content: left;
    height: max-content;
}
#exampleInputEmail1{
    width: min-content;
}

#mensaje{
    flex-flow: row wrap;
    text-align: left;
    align-items: center;
    justify-content: left;
    height: max-content;
}
#floatingTextarea{
    width: min-content;
}
#boton{
    flex-flow: row wrap;
    text-align: left;
    align-items: center;
    justify-content: left;
    height: max-content;
}

footer{
    background-color:beige;
}

#divs{
    display: flex;
    margin: 1px;
}

#fot{
    justify-content: center;
    align-items: baseline;
    text-align: left;
    background-color: beige;
    display: flex;
    height: 10px;
}

#amor{
    font-size: 10px;
    height: 10px;
    
}

#imigi{
    width: 90px;
    height: 90px;
}

#listas{
    background-color: beige;
    display: flex;
    align-items: center;
    height: 100px;
    
}


#d1{
    text-align: left;
    background-color: beige;
    width: fit-content;
    font-size: 9px;
}

#dt{
background-color: darksalmon;
}
u{
    background-color: darksalmon;
    margin: 10px;
}

#p{
    height: 20px;
    text-align: right;
    margin: 0px;
}

#buton{
   background-color: darksalmon;
   border-color: darksalmon; 
}

#trayectoria{
    display: flex;
    align-items: center;
}

#albertita{
    width: 250px;
    height: 250px;
}

#ini{
    font-size: xx-small;
    text-align: left;
    background-color: darksalmon;
}
#wini{
    font-size: xx-small;
    text-align: left;
    background-color: beige;
}
#derechos{
    text-align: left;
    height: 20px;
    margin: 0px;
}
